h1 {
    color: #f01111;
    background-color: #f7dbac;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ecbb06;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #ce351a;
    color: #fdd7c3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f53838;
}